* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
}

html {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
}

body {
  background: #e5e5e5;
  height: 100%;
  width: 100%;
  position: relative;
  font-size: 16px;
}
button {
  cursor: pointer;
}

::-moz-selection { background: #2cce9f; color: #000;}
::selection { background: #2cce9f; color: #000; }

.MyCardsContainer,
.SubmittedCardsTable {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  transition: transform .5s;
  transform: translateY(100%);
  overflow: hidden;
  z-index: 1;
}
/* @media (max-width: 500px) and (orientation: portrait) {
  .MyCardsContainer,
  .SubmittedCardsTable {
    flex-wrap: wrap;
    justify-content: center;
  }
} */
.MyCardsContainer.is-open,
.SubmittedCardsTable.is-open {
  transform: translateY(0);
}

.App-namePopup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  color: #fff;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App-namePopup-innerWrap {
  display: flex;
  flex-direction: column;
}
.App-namePopup input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 1em;
  border: 0;
  margin: 0 0 1em;
  padding: .25em 0 .5em;
  background: transparent;
  border-bottom: 1px solid white;
  color: #fff;
  transition: border-color .25s;
}
.App-namePopup input:focus,
.App-namePopup button:focus {
  outline: 0;
  border-color:#2cce9f;
}
.App-namePopup label {
 text-align: left;
 text-transform: uppercase;
 font-size: .813em;
 color: #c1bdbd;
}
.App-namePopup button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: #2cce9f;
  color: #000;
  font-size: 1em;
  border: 0;
  padding: .7em 1em;
  border-radius: 8px;
  margin: 0 auto;
}
.App-namePopup button:hover,
.App-namePopup button:focus {
  opacity: .5;
}
.App-namePopup-errorMsg {
  margin-top: 0;
  color: #cc2e2e;
}