* {
  box-sizing: border-box;
}
.Game {
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
}

svg {
  fill: currentColor;
  width: 22px;
  pointer-events: none;
  transform: rotate(-180deg);
}

html,
body,
#root,
.Game {
  height: 100%;
}

html {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

body {
  background: #e5e5e5;
  width: 100%;
  position: relative;
  font-size: 16px;
}
button {
  cursor: pointer;
  font-size: 16px;
}
button, input {
  font-family: 'Roboto Condensed', Arial, sans-serif;
}

::-moz-selection { background: #2cce9f; color: #000;}
::selection { background: #2cce9f; color: #000; }

.MyCardsContainer,
.SubmittedCardsTable {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  transition: transform .4s, z-index 0s .4s;
  transform: translateX(100%) translateZ(0);
  overflow: hidden;
  z-index: 1;
}
/* @media (max-width: 500px) and (orientation: portrait) {
  .MyCardsContainer,
  .SubmittedCardsTable {
    flex-wrap: wrap;
    justify-content: center;
  }
} */
.MyCardsContainer.is-open,
.SubmittedCardsTable.is-open {
  transform: translateX(0) translateZ(0);
  z-index: 999; /* sit on top of cards being dragged on table screen */
  transition: transform .4s;
}

.Game-namePopup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  color: #fff;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Game-namePopup-innerWrap {
  display: flex;
  flex-direction: column;
}
.Game-namePopup input:focus,
.Game-namePopup button:focus {
  outline: 0;
  border-color:#2cce9f;
}
.Game-namePopup button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: #2cce9f;
  color: #000;
  font-size: 1em;
  border: 0;
  padding: .7em 1em;
  border-radius: 8px;
  margin: 0 auto;
  transition: opacity .25s;
}
.Game-namePopup button:hover,
.Game-namePopup button:focus {
  opacity: .5;
}
.Game-namePopup-errorMsg {
  margin-top: 0;
  color: #cc2e2e;
}
